@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, sans-serif;
  background-color: white;
  color: #213547;
}

button {
  cursor: pointer;
  font-family: inherit;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  color: #2d2d2d;
  font-size: 50px;
}